header {
  justify-content: space-between;
  align-items: center;
  padding: 10px 5%;
  background-color: rgb(47, 57, 64);
  position: relative;
}
header h1 {
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
}
header #login,
header #logout {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgb(242, 185, 80);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 20px;
  /* Rounded edges */
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.2s;
  cursor: pointer;
  position: absolute;
  top: 1.76rem;
  right: 2rem;
}
header #login:hover,
header #logout:hover {
  cursor: pointer;
  transform: scale(1.05);
}
header #login:active,
header #login button:focus,
header #logout:active,
header #logout button:focus {
  outline: none;
  /* Remove the focus outline */
  transform: scale(0.95);
}
header nav ul {
  list-style-type: none;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: auto;
}
header nav ul a {
  display: block;
  font-size: 1.8rem;
  transition: all 0.3s ease 0s;
  color: rgb(255, 255, 255);
}
header nav ul a:hover {
  transform: scale(1.05);
}
header nav ul .current {
  color: rgb(242, 185, 80);
}

html {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
html p {
  font-size: 1.2rem;
}
html a {
  text-decoration: none;
}

main .over_ons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main button {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgb(242, 185, 80);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 20px; /* Rounded edges */
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.2s;
  margin: 1rem;
  cursor: pointer;
}
main button:hover {
  cursor: pointer;
  transform: scale(1.05);
}
main button:active, main button button:focus {
  outline: none; /* Remove the focus outline */
  transform: scale(0.95);
}
main #button_FAQ {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main #button_FAQ a {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  color: rgb(0, 0, 0);
  text-decoration: underline;
}
main #button_FAQ a:hover {
  transition: all 0.3s ease 0s;
  transform: scale(1.05);
}

.home_screen {
  max-width: 75ch;
  margin: auto;
  text-align: center;
}

body {
  min-height: 100vh;
}

.buttonLayout2 {
  background-color: white;
  border: solid rgb(242, 185, 80);
}

.iframe {
  margin-bottom: 2rem;
}

h1 {
  margin: 0 auto;
}

/* Use the original naming conventions */
#vraag1div, #treediv, #maindiv, #nextdiv {
  display: flex;
  flex-direction: column;
}

#vraag1div {
  display: grid;
  grid-template-columns: 9fr 1fr;
  grid-gap: 10px;
}

#vraag1div label {
  grid-column: 0, 1;
}

#vraag1div input[type=radio] {
  grid-column: 1, 2;
}

#treediv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

#treediv p {
  grid-column: span 2;
}

#treediv label {
  grid-column: 0, 1;
}

#treediv input[type=radio] {
  grid-column: 1, 2;
}

/* Common styles for select and input elements */
select, input {
  width: 50%; /* Adjust the width as needed */
  padding: 5px;
  margin: 5px 0;
}

/* Common styles for buttons */
/* Specific styles for #maindiv */
#maindiv {
  align-items: center;
  text-align: center;
}

/* Specific styles for #nextdiv */
#nextdiv {
  align-items: center;
  text-align: center;
}

/* Styles for labels inside #nextdiv */
#nextdiv label {
  font-weight: bold;
}

/* Styles for error text inside #nextdiv */
#error {
  color: red;
}

#vraag1div #error {
  color: red;
  display: block;
  margin: 10px auto;
}

#treediv #error {
  color: red;
  display: block;
  margin: 10px auto;
}

#vraag1div {
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Style the radio buttons and labels */
#vraag1div label {
  display: block;
  margin-bottom: 5px;
}

#vraag1div input[type=radio] {
  margin-right: 5px;
}

/* Center the button */
#vraag1button {
  display: block;
  margin: 10px auto;
}

#kader {
  display: flex;
  padding: 2rem;
  margin-left: 20rem;
  margin-right: 20rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: whitesmoke;
  border-radius: 10px;
  flex-direction: column;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.deactivate * {
  display: none;
}

.activate * {
  display: block;
}

.videoMargin {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#map {
  height: 180px;
}

.SolutionHeader {
  text-align: center;
}

.vraag_container {
  min-width: 30rem;
  font-size: 1.3rem;
}

.vraag_container label, .vraag_container button, .vraag_container p {
  font-size: 1.3rem;
}

.solutiondiv p {
  font-size: 1.3rem;
}

#maindiv label, #maindiv button {
  font-size: 1.3rem;
}

#nextdiv label, #maindiv button {
  font-size: 1.3rem;
}

.vraag_button, #start {
  margin: 1rem auto;
  grid-column: span 2;
  width: 15rem;
}

/* Center everything within the main element */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

/* Styles for buttons */
div {
  display: flex;
  flex-direction: column;
}

#emailButton, #formButton {
  background-color: rgb(242, 185, 80);
  color: black;
  margin: 5px;
  padding: 20px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.form-button {
  background-color: #2ECC40;
  color: white;
  margin: 5px;
}

.send-button {
  background-color: #FF4136;
  color: white;
  margin: 10px 0;
}

/* Styles for labels and inputs */
label {
  font-weight: bold;
}

input {
  width: 100%;
}

body {
  min-height: 100vh;
}

footer {
  position: sticky;
  top: 100%;
  display: grid;
  grid-template-columns: 65% 0%;
  width: 100%;
  height: auto;
  margin: 0;
  background-color: rgb(47, 57, 64);
}
footer h3 {
  text-transform: capitalize;
  line-height: 3rem;
  font-size: 1.8rem;
  margin: auto;
}
footer div {
  align-self: center;
  display: flex;
  align-items: center;
  text-align: center;
  line-height: 1.2rem;
  margin: 0.8rem;
  gap: 1rem;
  flex-direction: column;
}
footer ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
}
footer .socials {
  flex-direction: row;
  gap: 1rem;
  font-size: 3.5rem;
  vertical-align: auto;
}
footer .socials :hover {
  transition: all 0.3s ease 0s;
  color: rgb(242, 185, 80);
  transform: scale(1.05);
}
footer .socials li a {
  color: white;
}
footer p {
  text-transform: capitalize;
  max-width: none;
  width: 100%;
  text-align: center;
  padding: 0.8rem;
  word-spacing: 0.07rem;
  margin-bottom: 0;
}
footer span {
  text-transform: uppercase;
  font-weight: 200;
}

.kader {
  display: flex;
  padding: 2rem;
  margin-left: 20rem;
  margin-right: 20rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: whitesmoke;
  border-radius: 10px;
  flex-direction: column;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

.vraag {
  display: flex;
  background: whitesmoke;
  border-radius: 10px;
  flex-direction: column;
}

.antwoord {
  display: flex;
  padding: 2rem;
  background: rgb(168, 168, 168);
  border-radius: 10px;
  flex-direction: column;
}

.vraag:hover {
  cursor: pointer;
}

.deactivate {
  display: none;
}

.activate {
  display: block;
}

a {
  text-decoration: none;
}

body.login {
  background: #fbfbfb;
  background-repeat: no-repeat;
}

label {
  font-family: "Raleway", sans-serif;
  font-size: 11pt;
}

#forgot-pass {
  color: #432c2c;
  font-family: "Raleway", sans-serif;
  font-size: 10pt;
  margin-top: 0.7rem;
  text-align: right;
}

#card {
  background: -webkit-linear-gradient(bottom, #F2A950, #F2B950);
  background-repeat: no-repeat;
  border-radius: 8px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
  height: 410px;
  margin: 6rem auto 8.1rem auto;
  width: 329px;
}

#card-content {
  padding: 12px 44px;
}

#card-title {
  font-family: "Raleway Thin", sans-serif;
  letter-spacing: 4px;
  padding-bottom: 23px;
  padding-top: 13px;
  text-align: center;
}

#signup {
  color: #432c2c;
  font-family: "Raleway", sans-serif;
  font-size: 10pt;
  margin-top: 16px;
  text-align: center;
}

#submit-btn {
  background: -webkit-linear-gradient(right, #0D0D0D, #2F3940);
  border: none;
  border-radius: 21px;
  cursor: pointer;
  color: white;
  font-family: "Raleway SemiBold", sans-serif;
  height: 42.3px;
  margin: 0 auto;
  margin-top: 50px;
  transition: 0.25s;
  width: 153px;
}

#submit-btn:hover {
  transition: all 0.3s ease 0s;
  transform: scale(1.05);
}

.form {
  align-items: left;
  display: flex;
  flex-direction: column;
}

.form-border {
  height: 1px;
  width: 100%;
}

.form-content {
  background: #fbfbfb;
  border: none;
  outline: none;
  padding-top: 14px;
}

.underline-title {
  background: -webkit-linear-gradient(right, #0D0D0D, #2F3940);
  height: 2px;
  margin: -1.1rem auto 0 auto;
  width: 89px;
}

a {
  text-decoration: none;
}

body.register {
  background: #fbfbfb;
  background-repeat: no-repeat;
}

label {
  font-family: "Raleway", sans-serif;
  font-size: 11pt;
}

#forgot-pass {
  color: #432c2c;
  font-family: "Raleway", sans-serif;
  font-size: 10pt;
  margin-top: 0.7rem;
  text-align: right;
}

#card {
  background: -webkit-linear-gradient(bottom, #F2A950, #F2B950);
  background-repeat: no-repeat;
  border-radius: 8px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
  height: fit-content;
  margin: 6rem auto 8.1rem auto;
  width: 329px;
}

#card-content {
  padding: 12px 44px;
}

#card-title {
  font-family: "Raleway Thin", sans-serif;
  letter-spacing: 4px;
  padding-bottom: 23px;
  padding-top: 13px;
  text-align: center;
}

#signup {
  color: #432c2c;
  font-family: "Raleway", sans-serif;
  font-size: 10pt;
  margin-top: 16px;
  text-align: center;
}

#submit-btn {
  background: -webkit-linear-gradient(right, #0D0D0D, #2F3940);
  border: none;
  border-radius: 21px;
  cursor: pointer;
  color: white;
  font-family: "Raleway SemiBold", sans-serif;
  height: 42.3px;
  margin: 1.5rem auto;
  transition: 0.25s;
  width: 153px;
}

#submit-btn:hover {
  transition: all 0.3s ease 0s;
  transform: scale(1.05);
}

.form {
  align-items: left;
  display: flex;
  flex-direction: column;
}

.form-border {
  height: 1px;
  width: 100%;
}

.form-content {
  background: #fbfbfb;
  border: none;
  outline: none;
  padding-top: 14px;
}

.underline-title {
  background: -webkit-linear-gradient(right, #0D0D0D, #2F3940);
  height: 2px;
  margin: -1.1rem auto 0 auto;
  width: 89px;
}

.label-padding {
  border: none;
  outline: none;
  padding: 0.3rem 0;
}

.input-padding {
  padding: 0.5rem;
}

.toast {
  visibility: hidden;
  min-width: 250px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
}
.toast.show {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
.bodyRepair {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

#repairList {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  justify-content: center;
  text-align: center;
}

#repairItem {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}
#repairItem:hover {
  cursor: pointer;
  transition: all 0.3s ease 0s;
  transform: scale(1.05);
}

#repairItemSelected {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

p {
  margin: 0;
}

#userCard {
  display: flex;
  padding: 1rem;
  margin-left: 20rem;
  margin-right: 20rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: rgb(188, 188, 188);
  border-radius: 10px;
  flex-direction: column;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
  text-align: center;
}

.fa-trash:hover {
  cursor: pointer;
}

#agendaHyperlink {
  color: rgb(242, 185, 80);
}
#agendaHyperlink:hover {
  font-weight: bold;
}

table {
  border: none;
  width: 100%;
  border-collapse: collapse;
  font-family: "Arial", sans-serif;
}
table th, table td {
  padding: 15px;
  text-align: left;
  vertical-align: middle;
  border-bottom: 1px solid #e1e1e1;
}
table th {
  background: linear-gradient(145deg, #6c757d, #5D6975);
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
table tr:nth-child(even) {
  background-color: #fafafa;
}
table tr:hover {
  background-color: #f5f5f5;
}

#updateButton {
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  align-items: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 2px 2px;
  cursor: hand;
}/*# sourceMappingURL=style.css.map */