<footer>
    <div>
        <img src="../images/MaakbaarLeuven_jpg.jpg" alt="placeholder-logo" height="145px">
    </div>
    <div>
        <ul class="socials">
            <li><a href="https://www.facebook.com/maakbaarleuven"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://www.instagram.com/maakbaar.leuven/"><i class="fa fa-instagram"></i></a></li>
            <li><a href="https://www.linkedin.com/company/maakbaar-leuven/"><i class="fa fa-linkedin-square"></i></a></li>
        </ul>
    </div>
</footer>