@use '../../sass-utils/variables' as *;

.kader {
    display: flex;
    padding: 2rem;
    margin-left: 20rem;
    margin-right: 20rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: whitesmoke;
    border-radius: 10px;
    flex-direction: column;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */

}

.vraag {
    display: flex;
    background: whitesmoke;
    border-radius: 10px;
    flex-direction: column;

}

.antwoord {
    display: flex;
    padding: 2rem;
    background: rgb(168, 168, 168);
    border-radius: 10px;
    flex-direction: column;
}

.vraag:hover {
    cursor: pointer;
}

.deactivate {
    display: none;
}

.activate {
    display: block;
}