<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/scss/normalize.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../style/scss/style.css">
    <title>MaakbaarLeuven</title>
</head>
<body>
    <header>
        <h1>MaakbaarLeuven</h1>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="herstel.html">Herstel</a></li>
                <li class="current"><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Contact</h2>
        
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10072.227156187146!2d4.7057303!3d50.8671484!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c161377d5c7cbd%3A0x9667084c658fbc6f!2sMaakbaar%20Leuven!5e0!3m2!1snl!2sbe!4v1699609482489!5m2!1snl!2sbe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    </main>
    <footer>
        <div>
            <img src="../images/MaakbaarLeuven_jpg.jpg" alt="placeholder-logo" height="145px">
        </div>
        <div>
            <ul class="socials">
                <li><a href="https://www.facebook.com/maakbaarleuven"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://www.instagram.com/maakbaar.leuven/"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://www.linkedin.com/company/maakbaar-leuven/"><i class="fa fa-linkedin-square"></i></a></li>
            </ul>
        </div>
    </footer>
</body>
</html>