<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/scss/normalize.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../style/scss/style.css">
    <script type="text/javascript" src="../js/load_fragment.js" defer></script>
    <title>MaakbaarLeuven</title>
</head>
<body>
    <div id="headerContainer"></div>
    <main>

    </main>
    <div id="footerContainer"></div>
</body>
</html>