<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../style/scss/normalize.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="../style/scss/style.css" />
        <script type="text/javascript" src="../js/user.js" defer></script>
        <script type="text/javascript" src="../js/load_fragment.js" defer></script>
        <script type="text/javascript" src="../js/contact.js" defer></script>
        <title>MaakbaarLeuven</title>
    </head>
    <body>
        <header id="headerContainer"></header>
        <main>
            <h1>Contact</h1>
            <iframe
                class="iframe"
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10072.227156187146!2d4.7057303!3d50.8671484!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c161377d5c7cbd%3A0x9667084c658fbc6f!2sMaakbaar%20Leuven!5e0!3m2!1snl!2sbe!4v1699609482489!5m2!1snl!2sbe"
                width="600"
                height="450"
                style="border: 0"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
        </main>
        <footer id="footerContainer"></footer>
    </body>
</html>
