<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/scss/normalize.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../style/scss/style.css">
    <script src="../js/dom.js" defer />
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/seedrandom/3.0.5/seedrandom.min.js"></script>
    <script src="../js/repair.js" defer></script>
    <script src="../js/analyseTree.js" defer></script>

    <title>MaakbaarLeuven</title>
</head>

<body>
    <header>
        <h1>MaakbaarLeuven</h1>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li class="current"><a href="herstel.html">Herstel</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>

    </main>
    <footer>
        <div>
            <img src="../images/MaakbaarLeuven_jpg.jpg" alt="placeholder-logo" height="145px">
        </div>
        <div>
            <ul class="socials">
                <li><a href="https://www.facebook.com/maakbaarleuven"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://www.instagram.com/maakbaar.leuven/"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://www.linkedin.com/company/maakbaar-leuven/"><i
                            class="fa fa-linkedin-square"></i></a></li>
            </ul>
        </div>
    </footer>
</body>

</html>