<!DOCTYPE html>
<html lang="nl">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../style/scss/normalize.css" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
		<link rel="stylesheet" href="../style/scss/style.css" />
		<link rel="icon" type="image/png" href="../images/MaakbaarLeuven_jpg.jpg" />
		<script type="text/javascript" src="../js/user.js" defer></script>
		<script type="text/javascript" src="../js/load_fragment.js" defer></script>
		<title>MaakbaarLeuven</title>
	</head>
	<body>
		<header id="headerContainer"></header>
		<main class="home_screen">
			<img src="../images/maakbaarleuven_logo.png" alt="maakbaarleuven-logo" />
			<section class="over_ons">
				<h2>Over ons</h2>
				<p>
					Maakbaar Leuven is een beweging, een bonte verzameling vrijwilligers, partner-organisaties en bedrijven, met een hart voor herstellen en
					duurzaamheid. We weigeren ons neer te leggen bij de vuilnisbak als ultieme eindbestemming voor kapotte toestellen en voorwerpen. We geloven
					dat we samen het tij kunnen keren en Leuven upcyclen tot een circulaire en duurzame stad! We wensen jullie een aangename reis op deze website.
				</p>
				<h2>Wat u allemaal kunt doen op deze website</h2>
				<p class="text_index">Op de site kunt u een zelf diagnose maken voor een kapot apparaat. U moet enkele vragen beantwoorden en dan rolt er automatisch een oplossing uit. U krijgt advies over de toestand van uw apparaat en wat de beste oplossing is voor het wel/niet te herstellen.</p>
				<p class="text_index">Graag vragen wij u om u in te loggen of te registreren. Dit doen we zodat we u <a id="easter_egg" href="https://www.tiktok.com/@jokke.vl/video/7302476106165243169">makkelijk</a> kunnen helpen met uw herstelling en u kunnen opvolgen. Zelf kunt u na de diagnose zelf uw herstellingen zien en de oplossing herbekijken.</p>
				<p class="text_index">Klik hieronder op de knop om de diagnose te starten vermits u bent ingelogd.</p>
			</section>
			<div id="button_FAQ">
				<button id="repair_form">Start het proces</button>
				<script>
					document.getElementById("repair_form").addEventListener("click", function () {
						var link = document.createElement("a");
						link.href = "herstel.html";
						link.click();
					});
				</script>
			</div>
		</main>
		<footer id="footerContainer"></footer>
	</body>
</html>
