<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/scss/normalize.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../style/scss/style.css">
    <link rel="icon" type="image/png" href="../images/MaakbaarLeuven_jpg.jpg">
    <title>MaakbaarLeuven</title>
</head>

<body>
    <header>
        <div class="title_login">
            <h1>MaakbaarLeuven</h1>
            <a href="login.html"><button id="login">Login</button></a>
        </div>
        <nav>
            <ul>
                <li class="current"><a href="index.html">Home</a></li>
                <li><a href="herstel.html">Herstel</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main class="home_screen">
        <img src="../images/maakbaarleuven_logo.png" alt="placeholder-logo">
        <section class="over_ons">
            <h2>Over ons</h2>
            <p>Maakbaar Leuven is een beweging, een bonte verzameling vrijwilligers, partner-organisaties en bedrijven,
                met een hart voor herstellen en duurzaamheid. We weigeren ons neer te leggen bij de vuilnisbak als
                ultieme eindbestemming voor kapotte toestellen en voorwerpen. We geloven dat we samen het tij kunnen
                keren en Leuven upcyclen tot een circulaire en duurzame stad!</p>
        </section>
        <div id="button_FAQ">
            <button id="repair_form">Start het proces</button>
            <a href="faq.html">FAQ</a>
        </div>
    </main>
    <footer>
        <div>
            <img src="../images/MaakbaarLeuven_jpg.jpg" alt="placeholder-logo" height="145px">
        </div>
        <div>
            <ul class="socials">
                <li><a href="https://www.facebook.com/maakbaarleuven"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://www.instagram.com/maakbaar.leuven/"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://www.linkedin.com/company/maakbaar-leuven/"><i
                            class="fa fa-linkedin-square"></i></a></li>
            </ul>
        </div>
    </footer>
</body>

</html>