<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/scss/normalize.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../style/scss/style.css">
    <link rel="icon" type="image/png" href="../images/MaakbaarLeuven_jpg.jpg">
    <script type="text/javascript" src="../js/user.js" defer></script>
    <script type="text/javascript" src="../js/repairOverview.js" defer></script>
    <script type="text/javascript" src="../js/load_fragment.js" defer></script>
    <title>MaakbaarLeuven</title>
</head>

<body class="bodyRepair">
    <header id="headerContainer"></header>
    <main>
        <div id="userInfo"></div>
        <div id="repairList"></div>
    </main>
    <footer id="footerContainer"></footer>
</body>

</html>