<!DOCTYPE html>
<html lang="nl">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../style/scss/normalize.css" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
		<link rel="stylesheet" href="../style/scss/style.css" />
		<link rel="icon" type="image/png" href="../images/MaakbaarLeuven_jpg.jpg" />
		<script type="text/javascript" src="../js/user.js" defer></script>
		<script type="text/javascript" src="../js/analyseTree.js" defer></script>
		<script type="text/javascript" src="../js/solution.js" defer></script>
		<script type="text/javascript" src="../js/repairOverview.js" defer></script>
		<script type="text/javascript" src="../js/userOverview.js" defer></script>
		<script type="text/javascript" src="../js/load_fragment.js" defer></script>
		<title>MaakbaarLeuven</title>
	</head>
	<body class="bodyRepair">
		<header id="headerContainer"></header>
		<main id="userMain">
			<div id="userInfo"></div>
			<div id="deviceDiv">
				<button id="deviceButton">Voeg een apparaat toe</button>
			</div>
			<div id="userList"></div>
			<div id="flexdiv">
				<div id="repairList"></div>
				<div id="deviceList"></div>
			</div>
			<div id="addDeviceDiv"></div>
		</main>
		<footer id="footerContainer"></footer>
	</body>
</html>
