@use '../../sass-utils/variables' as *;

header {
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;

    h1 {
        display: flex;
        justify-content: center;
    }
    
    nav {
        ul {
            list-style-type: none;
            padding: 20px;
            display: flex;
            justify-content: space-between;
            max-width: 1000px;
            margin: auto;
    
            a {
                display: block;
                font-size: 1.8rem;
                transition: all 0.3s ease 0s;
                color: $color_text_nav;
            }

            .current a {
                color: $current_color_text_nav;
            }
        }
    }
}
